% A snippet to insert a table
ctrl key = t
group = Environment
insert at cursor =

\begin{table}[]
\centering
\begin{tabular}{ccc}
\hline
\textbf{} & Første & Anden \\ \hline
Første    & 1      & 2     \\
Anden     & 2      & 3    
\end{tabular}%
}
\caption{My caption}
\label{my-label}
\end{table}